/*{ Navbar }*/
.navbar {
    width: 260px;
    height: 100vh; 
}
/*{ Menu && Submenu }*/
.navbar, .submenu {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-image: linear-gradient(to bottom, #5633d1 , #ceb8fa);
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    padding: 20px; 
    border-right: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.container-navbar, .container-submenu {
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.item { 
    background-color: transparent;
}

.global-button.navbar-icon {
    background-color: transparent;
    margin: 0; 
    padding: 0; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.global-button.navbar-icon .icon { 
    margin: 0; 
}

.navbar .navbar-icon, .submenu .navbar-icon {
    border: 0; 
}

.navbar .navbar-icon:hover, .submenu .navbar-icon:hover {
    background-color: #5633d1;
    color: #ffffff;
}

.navbar .navbar-icon.menu:hover, .submenu .navbar-icon.menu:hover {
    background-color: transparent;
    color: #000; 
}

/*{ Menu && Submenu icons-only }*/
.navbar.icons-only, .submenu.icons-only {
    width: 76px; 
    border-right: 1px solid #5633d1;
    border-top: 1px solid #5633d1;
}

.submenu.icons-only {
    left: 76px; 
    width: 76px;
}

/*{ Submenu }*/
.submenu {
    background-color: #ffffff;
    position: absolute;
    left: 260px;
    bottom: 0;   
    width: 76px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.submenu.expanded {
    width: 260px;
}
/*{ Menu expanded }*/
/* Searh */
.navbar.expanded .item.search {
    margin-bottom: 10px; 
    position: relative; 
}

.navbar.expanded .item.search .search-input {
    width: 70%;
    margin: 0; 
}

.navbar.expanded .navbar-icon.search {
    position: absolute; 
    right: 0;
    top: 0; 
    width: auto;
}

/*{ Menu && Submenu expanded }*/
.navbar.expanded .navbar-icon.menu .icon{ 
    justify-content: flex-end;
}

.navbar.expanded .global-button.navbar-icon { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 30px;
    gap: 10px;
}

.navbar.expanded .global-button.navbar-icon.menu{
    justify-content: flex-end;
    border: 0; 
}

.submenu.expanded .container-submenu .item.toggle {
    display: flex; 
    flex-direction: row;
}

.submenu.expanded .container-submenu .item.toggle .navbar-icon:hover, 
.container-submenu .item.toggle .navbar-icon.toggle:hover {
    color: #000; 
    background-color: transparent;
}

.container-submenu .item.toggle .navbar-icon.toggle {
    padding: 0; 
    width: auto;
}

/*{ navbar image && userData }*/
/* company */
.item.img {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px; ;
}

.img-container { 
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.img-company { 
    max-width: 35px; 
}

.item.img .company { 
    font-size: 1.1rem; 
}

/* userData */
.item.data {
    width: auto;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.item.data .img-user { 
    max-width: 30px;
}

.item.data .user-info {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.user-info .username-data {
    font-weight: bold;
    font-size: 1.1rem;
}

.user-info .email-data {
    font-size: 12px;
}


/*!{ global component }*/
/*{ Global Input && toggle password && Global Button && global Select }*/
.global-label,  .password-toggle-label { font-weight: bold; }
.global-input, .password-toggle-input, .global-button, .global-select-options {
    border: 1px solid #531e98ed;
    border-radius: 5px; 
    padding: 10px; 
    height: 40px;
    width: 100%;
    margin: 5px 0 10px; 
}

.global-input:focus, .password-toggle-input:focus { outline: none; }

/*{ Toggle Password }*/
.password-toggle-label .icon { 
    margin-left: 10px; 
    cursor: pointer; 
}

/*{ Global Button }*/
.global-button { 
    font-weight: bold; 
    cursor: pointer; 
}

.global-button .icon { margin-right: 10px; }

/*{ errors }*/
.error { 
    font-style: italic;
    color: rgb(244, 73, 73); 
    font-size: 13px;
    margin: 5px 0 10px; 
}

/*{ Password Validation }*/
.password-validation {
    font-size: 14px;
    margin: 20px 0;
}

.password-validation p{
    margin-bottom: 10px;
    font-size: 1.05rem; 
}

.password-validation ul { 
    list-style-type: none;
}

.password-validation .icon {
    color: #bebbbb; 
    margin-right: 10px;
}

.password-validation .icon.active {
    color: #00fe00;
}

/*{ success */
.success { 
    text-align: center;
    font-size: 14px;
    color: rgb(0, 128, 0)
}

/*{ global Select }*/
.global-select {
    display: flex; 
    flex-direction: column; 
}

.global-select-options:focus {
    outline: none; 
} 

/*{grafic: doughnut - chart pie - bars }*/
.doughnut-wrapper, .chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.doughnut-container, .chart-container {
    flex-shrink: 0; 
    width: auto;
}

.labels-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-item {
    font-size: 14px;
    font-weight: 700;
}

.color-box {
    width: 20px;
    height: 10px;
    margin-right: 10px;
}

.bar-plot-container {
    width: 100%;
    height: auto;
}

/*{ notification }*/
.notification {
    background-color: rgba(225, 211, 238, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.notification.nomina { box-shadow: 0 6px 12px #f2aa9c; }
.notification.credito { box-shadow: 0 6px 12px #80dbb7; }
.notification.ahorro { box-shadow: 0 6px 12px #a1baff; }
.notification.departamental { box-shadow: 0 6px 12px #ffc785; }
.notification.efectivo { box-shadow: 0 6px 12px #f7c1b2; }
.notification.vales { box-shadow: 0 6px 12px #a0e4d1; }
.notification.wallet { box-shadow: 0 6px 12px #ffdb99; }

.notification.nomina  .type-account-nt { background-color: #f2aa9c; }
.notification.credito .type-account-nt { background-color: #80dbb7; }
.notification.ahorro .type-account-nt { background-color: #a1baff ; }
.notification.departamental .type-account-nt { background-color: #ffc785; }
.notification.efectivo .type-account-nt { background-color: #f7c1b2 ; }
.notification.vales .type-account-nt { background-color: #a0e4d1  ; }
.notification.wallet .type-account-nt { background-color: #ffdb99 ;}

.notification .db-icon {
    font-size: 1.3rem;
    margin: 0; 
}

.account-nt, .exit-nt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.type-account-nt, .close-nt {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.type-account-nt { border-radius: 8px; }
.close-nt { color: rgba(17, 17, 17, 0.401); }
.close-nt:hover {
    border-radius: 8px;
    background-color: #e7e7ef;
    color: #000; 
}

.data-nt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-nt p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

/*{Home}*/
.container-home {
    width: 100vw;
    height: 100vh;
}

/*{ Sign Up, Login}*/
.container-auth { 
    display: flex; 
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.auth-data, .auth-img { flex: 1; }

.auth-data {
    background-color: rgba(86, 51, 209,0.1);
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.enterprise { 
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.company {
    font-size: 12px;
    font-style: italic;
}

.global-button.return-btn {
    border: 0; 
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 12px;
}

.global-button.return-btn .icon { margin: 0; }

.container-form {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 100%;
}

.global-button.authenticate-btn {
    background-color: rgba(86, 51, 209, 1);
    color: #fff; 
}

/*{ Sign Up }*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.successMessage{
    width: 30%;
    height: 70%;   
}

.successMessage h3 { 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.msg .close { 
    align-self: flex-end; 
    font-weight: bold; 
    cursor: pointer;
}

.successMessage h2 { font-size: 1.2rem; margin: 10px 0; }

.successMessage img {
    margin: 0 50px;
    width: 300px;
}

.successMessage .msg {
    background-color: rgb(58, 56, 63);
    color: #ffff; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
}

.successMessage .msg span { font-weight: bold; font-style: italic; margin-top: 15px; }
.successMessage .msg p { color: #ffffffc5; }
.signup-img { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.global-button.social-media-btn {
    justify-self: center;
    background-color: #5633d1;
    color: #fff; 
    font-size:20px;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.global-button.social-media-btn .icon { margin: 0; font-size: 16px;}
.container-form.progress { width: 100%; }
.auth-form.data { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.progress { width: 10%; }
.form { flex: 1}

.progress-steps {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

.step {
    position: relative;
}

.step:not(:last-child)::after {
    content: '';
    background-color: #bebbbb; 
    position: absolute;
    top: 60%;
    left: 40%;
    height: 65px;  
    width: 4px;    
    z-index: -1000; 
}

.step.active::after { background-color: #5633d1; }
.step .icon { color: #bebbbb; margin: 0; font-size: 20px; }
.step.active .icon { color: #5633d1}
.navigation-btn.authenticate-btn.signup { width: 100%; margin-top: 10px; }

/*{ Login }*/
.login-img { 
    background-image: url('./assets/login.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.forgot-password { 
    text-align: end; 
    margin: 10px 0; 
}

.forgot-password a { 
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #5633d1; 
}
.social-media { border: 1px solid #5633d1; }

/*{ Change Password }*/
.change-password-container h2 { margin-bottom: 20px; }
.change-password-container .error { color: #1f1f1f;  }
.change-password-container.validate, .change-password-container.change .change-password-img { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.change-password-container.validate {
    background-image: url('./assets/password1.png');
    background-color: #e1d3ee;
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.change-password-container.validate h2 { color: #ffffff; }

.change-password-container.validate .change-password-form {
    background-color: rgba(86, 51, 209, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.change-password-container.validate .change-password-form .form {
    position: relative;
    display: flex; 
    flex-direction: column;
    margin: 20px 0; 
    width: 100%;
    border : 0; 
}

.change-password-container.validate .change-password-form .form input, .change-password-container.validate .change-password-form .form  button{ 
    height: 40px;
    border-radius: 15px;
} 

.change-password-form .form input {
    width: 100%;
    border: 0; 
    padding: 0 20px;
}

.change-password-container .form input:focus {
    border: 0; 
    outline: none; 
}

.change-password-container.validate .form input { 
    background-color: rgba(42, 42,51, 0.6);
    color: #ffffff; 
}

.change-password-container.validate .form input::placeholder { 
    color: #ffffff; 
}

.change-password-container.validate .form button {
    cursor: pointer; 
    position: absolute; 
    font-weight: bold;
    border: 0; 
    right: 0;
    width: 100px;
}

.change-password-container.change { 
    display: flex; 
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
}

.change-password-img, .change-password-container.change .change-password-form { flex: 1; }

.change-password-img { 
    background-image: url('./assets/password2-gift.gif');
    background-color: #fff;
}

.change-password-container.change .change-password-form {
    background-color: rgba(225, 231, 253, 0.5); 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.change-password-container.change .change-password-form .form {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}
.change-password-container.change .change-password {
    background-color: rgba(86, 51, 209, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 40px; 
    width: 60%;
    height: 90%;
}

.change-password-btn {
    align-self: flex-end;
    background-color: rgba(86, 51, 209, 0.5);
    width: 40%; 
}

/*{ forgot password }*/
.forgot-password-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px; 
    width: 100vw;
    height: 1
    00vh;
}

.forgot-password-container .auth-data { background-color: transparent; }
.forgot-password-container .forgot-password-img { 
    border: 5px solid #dcc8f28d; 
    align-self: center;
    width: 15%;
    border-radius: 50%;
}

.forgot-password-form {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 20px;  
}

.forgot-password-form .container-form-data {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}

.return .reset-password {
    background-color: transparent;
    border: 0; 
    cursor: pointer;
    font-size: 14px; 
    font-weight: 600; 
}

/*{ signup, login. resetPassword }*/
.container-form-data { text-align: center; gap: 20px; }
.container-form-data h2 { font-size: 2rem; margin-bottom: 10px; } 

.return { 
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.return a { 
    cursor: pointer;
    color: #5633d1; 
    font-weight: bold;
    text-decoration: none;
}

/*! { account } */
/*{ common > account }*/
.card { 
    width: 320px;
    height: 200px;
    padding: 10px 50px; 
    margin: 30px 0; 
    border-radius: 30px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff; 
}

.card.nomina { background-color: #f2aa9c; }
.card.credito { background-color: #80dbb7; }
.card.ahorro { background-color: #a1baff ; }
.card.departamental { background-color: #ffc785; }
.card.efectivo { background-color: #f7c1b2 ; }
.card.vales { background-color: #a0e4d1  ; }
.card.wallet { background-color: #ffdb99 ;}

.item-card {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-card .db-icon { font-size: 1.8rem; }
.item-card .type-card { font-size: 1.2rem; }
.number-card { 
    text-align: center;
    font-size: 1.3rem;
}

/* { commont > CarddItem } */
/* card */
.account-item1 .container-card-item {
    width: 200px;
    height: 115px;
    border-radius: 15px; 
    padding: 10px 20px; 
    margin: 0; 
    position: absolute;
    top: -50px;
    left: 40px;  
}
.account.active .account-item1 .container-card-item { left: 30px;}
.container-card-item .item-card {
    justify-content: space-around;
}
.container-card-item .item-card .db-icon { font-size: 1.2rem; }
.container-card-item .number-card, .container-card-item .type-card { font-size: 16px; }
/* controls */
.account-item2 {
    height: 60%;
    width: 220px;
    padding:  20px 10px; 
    display: flex; 
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 90px; 
    left: 28px;
}
.account.active .account-item2 {
    left: 20px; 
}

.card-item-label {
    color: #1f1f1f85; 
    font-weight: 600;
    margin-bottom: 10px;
}

.card-item-total { font-weight: 600; font-size: 1rem; }
.card-item-balance .card-item-label { font-size: 1rem; }
.card-item-balance .card-item-total { font-size: 1.6rem; }
.card-item-balance .card-item-total span { font-weight: 300; }
.card-item-control {
    display: flex; 
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.card-item-control .control { 
    flex: 1; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balance-bar-container {
    width: 80px;  
    height: 10px;  
    background-color: #e0e0e0;  
    border-radius: 10px;  
    margin-top: 10px;
}

.balance-bar {
    width: 100%;  
    height: 100%;
}

.expense.bar {
    height: 100%;
    background-color: rgba(253, 37, 69, 0.9);
    border-radius: 10px 0 0 10px;
}

.income.bar {
    height: 100%;  
    background-color: rgb(199, 255, 199);  
    border-radius: 10px 0 0 10px;
}
/* icon down */
.account-item3 {
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute; 
    bottom: -15px;
    left: 120px; 
}

.account.active .account-item3 { left: 112px}
.account-item3.nomina { background-color: #f2aa9c; }
.account-item3.credito { background-color: #80dbb7; }
.account-item3.ahorro { background-color: #a1baff ; }
.account-item3.departamental { background-color: #ffc785; }
.account-item3.efectivo { background-color: #f7c1b2 ; }
.account-item3.vales { background-color: #a0e4d1  ; }
.account-item3.wallet { background-color: #ffdb99 ; } 

/*{ dashborad content }*/
.dahsboard-content { 
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    max-width: 100%;
}

/*{ dashboard account > header }*/
.dashboard {
    background-image: linear-gradient(to right, #5633d1 , #ceb8fa);
    color: #ffffff;
    height: 76px;
    width: 100%;
    padding: 0 40px; 
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer; 
}

.dashboard .enterprise { 
    width: auto;
}   

.dashboard .company { 
    font-size: 1.5rem;
    color: #ffffff; 
    font-style: normal;
    font-weight: 500; 
}

.dashboard-menu-items, .tools-user {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    gap: 30px; 
}

.dashboard .items { 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-size: 1rem;
}

.dashboard .items:hover {
    background-color: #ccbdf7;
    border-radius: 10px; 
} 

.dashboard .tools-user .dashboard-menu-items, .dashboard .tools-user {
    gap: 0;
}

.dashboard .tools-user .items {
    width: 30px;
}

.dashboard .tools-user .items:hover { 
    background-color: transparent; 
}

.dashboard .tools-user .items .db-icon {
    margin: 0; 
}

.dashboard .items .db-icon {
    margin-right: 5px;
    font-size: 1.3rem;
}

.dashboard-user {
    display: flex; 
    align-items: center;
    gap: 5px;
    margin-left: 50px;
}

.dashboard-user .db-icon.user {
    font-size: 2rem;
}

/*{ dashboard account > main }*/
.dashboard-main {
    display: grid; 
    grid-template-columns: 3fr 1fr;
    gap: 10px; 
    height: 100%;
}
/* tools main */
.container-main.tools {
    padding: 20px;
    display: flex; 
    flex-direction: column;
    position: relative; 
    overflow: hidden; 
}

.container-main.cards {
    width: 100%;
    height: 100%; 
    position: relative; 
    padding: 20px 0 0;
}

.container-main.parts {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(200px, auto); 
    gap: 10px; 
}

.container-tools {
    display: flex; 
    flex-direction: column;
    padding: 40px 20px; 
    border: 1px solid #ceb8fa;
}

.total h4 { 
    color: #5633d1; 
    font-size: 1.5rem;
}

.total p {
    font-size: 2rem;
    color: #1f1f1f; 
    font-weight: 600;
}

.tools1, .tools2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tools1 {
    background-image: url('/src/assets/manage-money-concept.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: flex-end;
}

.description.accounts {
    backdrop-filter: blur(20px);
    align-self: flex-end;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    width: 60%; 
    padding: 10px; 
}

.description.accounts .company { 
    font-size: 14px;
    width: 80px;
}

.description.accounts p:first-of-type {
    font-size: 1.3rem;
    font-weight: 500;
}

.description.accounts .finances {
    color: #5633d1; 
    font-style: italic;
}

.description.accounts p:last-of-type {
    color: #5633d1; 
    font-weight: 600;
}

.description.accounts .learn-more, .views-all {
    width: 150px;
    border: 0; 
    color: #fff; 
    background-color: #343434;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.description.balance, .description-detail {
    display: flex; 
}

.description.balance {
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.description.balance h4 {
    font-size: 2rem;
    color: #5633d1;
}

.description-detail {
    cursor: pointer; 
    color: #13131375; 
}

.container-view-all { 
    display: flex; 
    justify-content: center;
    align-items: center;
}


.total.balance {
    width: 70%;
    padding: 20px; 
    text-align: center;
    border: 1px solid rgba(31, 31, 31, 0.2); 
    border-radius: 15px;
}

.bar.grafic {
    margin-top: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.db-icon.arrow {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    transform: rotate(45deg);
}

.total-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.data-container-child { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    margin-bottom: 20px; 
}

.data-container .description-detail {
    justify-self: flex-end;
    cursor: pointer; 
}

/*{ your cards }*/
.your-cards {
    border-left: 1px solid #ceb8fa;
    border-bottom: 1px solid #ceb8fa;
    border-top: 1px solid #ceb8fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden; 
}

.all-cards {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px; 
}

.all-cards .navigation-btn {
    display: flex; 
    flex-direction: row;
    gap: 10px;
}

.navigation-btn .db-icon { 
    background-color: #eceef0;  
    cursor: pointer;
    font-size: 14px; 
    color: #000;
    width: auto; 
    height: auto; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
} 

.all-cards .count-cards {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.all-cards .total-card { 
    color: #5633d1; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Contenedor principal del carrusel */
.card-container {
    width: 100%;
    height: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.card-wrapper.A { 
    position: absolute; 
    left: 20px;
}

.card-wrapper.B { 
    width: 350px;
    transform: rotate(-20deg);
    position: absolute; 
    top: 53px;  
    left: 20px; 
}

.card-wrapper.C { 
    position: absolute; 
    top: 130px; 
    right: 20px;
}

.card-wrapper.C .number-card { z-index: 100; }

.transparent-card {
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 20px 0;  
    border-top: 1px solid #ffffff;
    position: absolute; 
    bottom: 5px; 
    left: 10px;
    backdrop-filter: blur(20px);
}

/*{ new card  }*/
.new-card-btn {
    margin: 10px; 
}

.new-card {
    border: 0; 
    color: #24c175; 
    font-weight: bold;
    background-color: #1f1f1f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* General styles for the account container */
.container-account {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Account section */
.account {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;  
    transition: all 0.3s ease;
}

/* When account is active */
.container-account .account.active {
    width: 75%;  
}

/* Content sections inside the account */
.account-content1,
.account-content2 {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.account-content1 { 
    margin-bottom: 50px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 

}

.account-content1 h4 {
    font-size: 1.5rem;
    font-style: italic;
}

.account-content2 {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.container-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 100px;
    width: 100%;
}

.card-list {
    background-color: rgba(239, 244, 245, 0.463);
    width: 100%;
    height: 320px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Styles for account details (account-id) */
.account-id {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    gap: 50px;
    background-color: #f5f5f5;  
    transition: all 0.3s ease;
}

/* Fixed width when no data (empty state) */
.account-id.empty {
    width: 25%; 
}

/* Expanded width when data exists */
.account-id.with-data {
    width:55%; 
}

/* Data sections inside account-id */
.account-data1,
.account-data2,
.account-data3 {
    width: 100%;
    height: calc(100% / 3);
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex; 
}
.accont-data1 { 
    flex-direction: row;  
}
.account-data2, .account-data3 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; 
}

.container-card-id { 
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.account-id.active.empty .account-data1 {
    flex-direction: column;
}

.account-id.active.with-data .account-data1 {
    gap: 20px; 
}

.account-id.active.with-data .container-card-id, 
.account-id.active.with-data .container-info-id.active.with-data {
    flex: 1; 
    border-radius: 15px;;
    padding: 20px; 
}

.account-id.active.with-data .account-data-id {
    border: 1px solid #1f1f1f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.account-id.active.with-data .container-info-id.active.with-data {
    background-color: #d2cbea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.container-info-id.active.with-data p:first-of-type {
    font-size: 1.2rem;
    font-weight: 700;
}
.container-info-id.active.with-data span { 
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

.container-info-id.active.empty {
    display: none; 
}


.container-card-id .delete-account {
    align-self: flex-end;
    cursor: pointer;
}

.account-data1 .account-data-id { 
    align-self: center;
    padding: 20px;
    width: 250px;
    height: 160px;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #1f1f1f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.account-id-header {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.account-id-header .icon { 
    transform: rotate(90deg); 
    font-size: 1.2rem;
}

.account-id-main p:first-of-type {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.account-id-footer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.empty-data {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Expanded width when data exists id */
.account-id.with-data .account-data1 { 
    height: 20%;
}

.account-id.with-data .account-data1 .account-data-id {
    width: 300px;
}

.account-id.with-data .account-data2, 
.account-id.with-data .account-data3 { 
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 150px;
    height: auto;
}

/* Colors for data sections */
.account-data1 { 
    background-color: rgba(255, 253, 164, 0.7);
}

.account-data2 { 
    background-color: rgb(199, 255, 199); 
}

.account-data3 { 
    background-color: rgba(253, 37, 69, 0.6); 
}

/* Styles for income/expense lists */
.container-account-concept-all {
    padding: 20px; 
}

.account-data2 h5, .account-data3 h5 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.container-concept-id-all {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.container-concept-id {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    gap: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.container-concept-id .delete-account {
    cursor: pointer; 
    height: 100%;
    display: flex;
    align-items: center;
}

.description-concept-id {   
    width: 180px;
    font-weight: 500;
    font-size: 14px;
}

.description-concept-id span {
    font-weight: 350;
}

/*{ register {form > account ]}*/
.register-container {
    padding: 20px; 
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.list .register { flex: 1; }

/*!{ Dark Mode }*/ 
body.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff; 
}

/* dark mode menu && submenu */
body.dark-mode .navbar, body.dark-mode .submenu {
    background-color: #1f1f1f;
    color: #ffffff;
}

/* {more tools} */
body.dark-mode .img-container {
    background-color: transparent; 
}

body.dark-mode .label-item { 
    color: #1f1f1f; 
}

body.dark-mode .search-input::placeholder {
    color: #1f1f1f; 
}

/* dark mode change password */
body.dark-mode .change-password-container.change .change-password-form {
    background-color: #1f1f1f; 
    color: #ffffff; 
}

body.dark-mode .change-password-container.change .change-password-form .change-password.sucess {
    background-color: rgba(86, 51, 209, 0.7);
}

body.dark-mode .global-button.change-password-btn {
    background-color: #ffffff;
}

/*{ more tools }*/
body.dark-mode .global-input, 
body.dark-mode .password-toggle-input, 
body.dark-mode .global-button { 
    border: 1px solid #ff5f81; 
}

/*{ Signuo, login }*/
body.dark-mode .auth-img { background-color: #ffffff; }
body.dark-mode .return-btn { 
    color: #ffffff; 
    bordeR: 0; 
}

body.dark-mode .authenticate-btn { background-color: #ff5f81; }
body.dark-mode .return a { color: #ff5f81; }

/*{ signup  }*/
body.dark-mode .social-media-btn { background-color: #ff5f81; }

/*{ login }*/
body.dark-mode .forgot-password a { color: #ff5f81; }

/*{ forgot password }*/
body.dark-mode .reset-password { 
    color: #ffffff; 
    border: 0;
}

/* {nabvar} */
body.dark-mode .navbar, 
body.dark-mode .submenu {
    background-image: linear-gradient(to bottom, #ff5f81 , #f3b3c1);
}

body.dark-mode .navbar .navbar-icon, 
body.dark-mode .submenu .navbar-icon { 
    border: 0; 
    color: #1f1f1f;
}

body.dark-mode .navbar .navbar-icon .icon, 
body.dark-mode .submenu .navbar-icon .icon, 
body.dark-mode .user-info {
    color: #1f1f1f;
}

body.dark-mode .navbar .navbar-icon:hover, 
body.dark-mode .submenu .navbar-icon:hover {
    background-color: #f3b3c1;
}

body.dark-mode .navbar .navbar-icon.menu:hover, 
body.dark-mode .submenu .navbar-icon.menu:hover { 
    background-color: transparent; 
}

body.dark-mode .navbar.icons-only, 
body.dark-mode .submenu.icons-only {
    box-shadow: rgba(255, 255, 255, 0.383) 0px 5px 15px;
    border-right: 1px solid #ccc;
}

body.dark-mode .navbar.expanded, 
body.dark-mode .submenu.expanded {
    box-shadow: rgba(255, 255, 255, 0.383) 0px 5px 15px;
    border-right: 1px solid #ccc;
}

/*{ dashboard account > header #9899e5 }*/
body.dark-mode .dashboard {
    background-image: linear-gradient(to right, #252736, #252736)
}

body.dark-mode .dashboard .items:hover {
    background-color: #ff5f81;
}

body.dark-mode .dashboard .tools-user .items:hover { 
    background-color: transparent; 
}

/* {Heder Gobal } */
body.dark-mode .dashboard {
    background-image: linear-gradient(to right, #ff5f81 , #f3b3c1);
    color: #1f1f1f;
}

/*{ accounts }*/
body.dark-mode .container-tools {
    border: 1px solid #ff5f81;
}

body.dark-mode .your-cards {
    border-left: 1px solid #ff5f81;
    border-bottom: 1px solid #ff5f81;
    border-top: 1px solid #ff5f81;
}

body.dark-mode .total-card {
    color: #ff5f81; 
}

body.dark-mode .notification, 
body.dark-mode .views-all { 
    background-color: rgb(255, 255, 255);
}

body.dark-mode .new-card, 
body.dark-mode .views-all, 
body.dark-mode .card-list {
    background-color: #fff;
    border: 0; 
    box-shadow: rgba(255, 255, 255, 0.383) 0px 5px 15px;
}

body.dark-mode .description-detail, 
body.dark-mode .total.balance p, body.dark-mode .total.balance h4, 
body.dark-mode .description.balance h4, 
body.dark-mode .total.expense h4, body.dark-mode .total.income h4, 
body.dark-mode .total.expense p, body.dark-mode .total.income p {
    color: #fff; 
}

body.dark-mode .views-all, 
body.dark-mode .notification .db-icon, 
body.dark-mode .notification .data-nt, 
body.dark-mode .container-card-item, 
body.dark-mode .account-id, 
body.dark-mode .company {
    color: #000;
}

body.dark-mode .container-tools.tools1, 
body.dark-mode .card-list { 
    background-color: #fff;
    color: #000;
}
/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .global-button.social-media-btn {
        width: 5vw;   /* Ancho mayor en pantallas pequeñas */
        height: 5vw;  /* Altura mayor en pantallas pequeñas */
        font-size: 18px;  /* Reducir el tamaño de fuente */
    }
}

/* Media query para pantallas extra pequeñas */
@media (max-width: 480px) {
    .global-button.social-media-btn {
        width: 20vw;  /* Aumentar tamaño del botón en pantallas muy pequeñas */
        height: 20vw;
        font-size: 16px;  /* Reducir aún más el tamaño de fuente */
    }
}