/*{ Navbar }*/
.navbar {
    width: 260px;
    height: 100vh; 
}
/*{ Menu && Submenu }*/
.navbar, .submenu {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    padding: 20px; 
    border-right: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.container-navbar, .container-submenu {
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.item { 
    background-color: transparent;
}

.global-button.navbar-icon {
    background-color: transparent;
    margin: 0; 
    padding: 0; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.global-button.navbar-icon .icon { 
    margin: 0; 
}

.navbar .navbar-icon, .submenu .navbar-icon {
    border: 0; 
}

.navbar .navbar-icon:hover, .submenu .navbar-icon:hover {
    background-color: #5633d1;
    color: #ffffff;
}

.navbar .navbar-icon.menu:hover, .submenu .navbar-icon.menu:hover {
    background-color: transparent;
    color: #000; 
}

/*{ Menu && Submenu icons-only }*/
.navbar.icons-only, .submenu.icons-only {
    width: 76px; 
    border-right: 1px solid #5633d1;
    border-top: 1px solid #5633d1;
}

.submenu.icons-only {
    left: 76px; 
    width: 76px;
}

/*{ Submenu }*/
.submenu {
    background-color: #ffffff;
    position: absolute;
    left: 260px;
    bottom: 0;   
    width: 76px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.submenu.expanded {
    width: 260px;
}
/*{ Menu expanded }*/
/* Searh */
.navbar.expanded .item.search {
    position: relative; 
}

.navbar.expanded .item.search .search-input {
    width: 70%;
    margin: 0; 
}

.navbar.expanded .navbar-icon.search {
    position: absolute; 
    right: 0;
    top: 0; 
    width: auto;
}

/*{ Menu && Submenu expanded }*/
.navbar.expanded .navbar-icon.menu .icon{ 
    justify-content: flex-end;
}

.navbar.expanded .global-button.navbar-icon { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 30px;
    gap: 10px;
}

.navbar.expanded .global-button.navbar-icon.menu{
    justify-content: flex-end;
    border: 0; 
}

.submenu.expanded .container-submenu .item.toggle {
    display: flex; 
    flex-direction: row;
}

.submenu.expanded .container-submenu .item.toggle .navbar-icon:hover, 
.container-submenu .item.toggle .navbar-icon.toggle:hover {
    color: #000; 
    background-color: transparent;
}

.container-submenu .item.toggle .navbar-icon.toggle {
    padding: 0; 
    width: auto;
}

/*{ navbar image && userData }*/
/* company */
.item.img {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px; ;
}

.img-container { 
    background-color: #000000;
    width: 50px;
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.img-company { 
    max-width: 35px; 

}

.item.img .company { 
    font-size: 1.1rem; 
}

/* userData */
.item.data {
    width: auto;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.item.data .img-user { 
    max-width: 30px;
}

.item.data .user-info {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.user-info .username-data {
    font-weight: bold;
    font-size: 1.1rem;
}
.user-info .email-data {
    font-size: 12px;
}

/*{ Global Input && toggle password && Global Button && global Select }*/
.global-label,  .password-toggle-label { font-weight: bold; }

.global-input, .password-toggle-input, .global-button, .global-select-options {
    border: 1px solid #531e98ed;
    border-radius: 5px; 
    padding: 10px; 
    height: 40px;
    width: 100%;
    margin: 5px 0 10px; 
}

.global-input:focus, .password-toggle-input:focus { outline: none; }

/*{ Global Input }*/

/*{ Toggle Password }*/
.password-toggle-label .icon { margin-left: 10px; }

/*{ Global Button }*/
.global-button { 
    font-weight: bold; 
    cursor: pointer; 
}

.global-button .icon { margin-right: 10px; }

/*{ errors }*/
.error { 
    font-style: italic;
    color: rgb(244, 73, 73); 
    font-size: 13px;
    margin: 5px 0 10px; 
}

/*{ Password Validation }*/
.password-validation {
    font-size: 14px;
    margin: 20px 0;
}

.password-validation p{
    margin-bottom: 10px;
    font-size: 1.05rem; 
}

.password-validation ul { 
    list-style-type: none;
}

.password-validation .icon {
    color: #bebbbb; 
    margin-right: 10px;
}

.password-validation .icon.active {
    color: #00fe00;
}

/*{ success */
.success { 
    text-align: center;
    font-size: 14px;
    color: rgb(0, 128, 0)
}

/*{ global Select }*/
.global-select {
    display: flex; 
    flex-direction: column; 
}

.global-select-options:focus {
    outline: none; 
} 

/*{Home}*/
.container-home {
    width: 100vw;
    height: 100vh;
}

/*{ Sign Up, Login}*/
.container-auth { 
    display: flex; 
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.auth-data, .auth-img { flex: 1; }

.auth-data {
    background-color: rgba(86, 51, 209,0.1);
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.enterprise { 
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.company {
    font-size: 12px;
    font-style: italic;
}

.global-button.return-btn {
    border: 0; 
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 12px;
}

.global-button.return-btn .icon { margin: 0; }

.container-form {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 100%;
}

.global-button.authenticate-btn {
    background-color: rgba(86, 51, 209, 1);
    color: #fff; 
}

/*{ Sign Up }*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.successMessage{
    width: 30%;
    height: 70%;   
}

.successMessage h3 { 
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.msg .close { 
    align-self: flex-end; 
    font-weight: bold; 
    cursor: pointer;
}

.successMessage h2 { font-size: 1.2rem; margin: 10px 0; }

.successMessage img {
    margin: 0 50px;
    width: 300px;
}

.successMessage .msg {
    background-color: rgb(58, 56, 63);
    color: #ffff; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
}

.successMessage .msg span { font-weight: bold; font-style: italic; margin-top: 15px; }
.successMessage .msg p { color: #ffffffc5; }
.signup-img { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.global-button.social-media-btn {
    justify-self: center;
    background-color: #5633d1;
    color: #fff; 
    font-size:20px;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.global-button.social-media-btn .icon { margin: 0; font-size: 16px;}
.container-form.progress { width: 100%; }
.auth-form.data { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.progress { width: 10%; }
.form { flex: 1}

.progress-steps {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35%;
}

.step {
    position: relative;
}

.step:not(:last-child)::after {
    content: '';
    background-color: #bebbbb; 
    position: absolute;
    top: 60%;
    left: 40%;
    height: 65px;  
    width: 4px;    
    z-index: -1000; 
}

.step.active::after { background-color: #5633d1; }
.step .icon { color: #bebbbb; margin: 0; font-size: 20px; }
.step.active .icon { color: #5633d1}
.navigation-btn.authenticate-btn.signup { width: 100%; margin-top: 10px; }

/*{ Login }*/
.login-img { 
    background-image: url('./assets/login.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.forgot-password { 
    text-align: end; 
    margin: 10px 0; 
}

.forgot-password a { 
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #5633d1; 
}
.social-media { border: 1px solid #5633d1; }

/*{ Change Password }*/
.change-password-container h2 { margin-bottom: 20px; }
.change-password-container .error { color: #1f1f1f;  }
.change-password-container.validate, .change-password-container.change .change-password-img { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.change-password-container.validate {
    background-image: url('./assets/password1.png');
    background-color: #e1d3ee;
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.change-password-container.validate h2 { color: #ffffff; }

.change-password-container.validate .change-password-form {
    background-color: rgba(86, 51, 209, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.change-password-container.validate .change-password-form .form {
    position: relative;
    display: flex; 
    flex-direction: column;
    margin: 20px 0; 
    width: 100%;
    border : 0; 
}

.change-password-container.validate .change-password-form .form input, .change-password-container.validate .change-password-form .form  button{ 
    height: 40px;
    border-radius: 15px;
} 

.change-password-form .form input {
    width: 100%;
    border: 0; 
    padding: 0 20px;
}

.change-password-container .form input:focus {
    border: 0; 
    outline: none; 
}

.change-password-container.validate .form input { 
    background-color: rgba(42, 42,51, 0.6);
    color: #ffffff; 
}

.change-password-container.validate .form input::placeholder { 
    color: #ffffff; 
}

.change-password-container.validate .form button {
    cursor: pointer; 
    position: absolute; 
    font-weight: bold;
    border: 0; 
    right: 0;
    width: 100px;
}

.change-password-container.change { 
    display: flex; 
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
}

.change-password-img, .change-password-container.change .change-password-form { flex: 1; }

.change-password-img { 
    background-image: url('./assets/password2-gift.gif');
    background-color: #fff;
}

.change-password-container.change .change-password-form {
    background-color: rgba(225, 231, 253, 0.5); 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.change-password-container.change .change-password-form .form {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}
.change-password-container.change .change-password {
    background-color: rgba(86, 51, 209, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 40px; 
    width: 60%;
    height: 90%;
}

.change-password-btn {
    align-self: flex-end;
    background-color: rgba(86, 51, 209, 0.5);
    width: 40%; 
}

/*{ forgot password }*/
.forgot-password-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px; 
    width: 100vw;
    height: 1
    00vh;
}

.forgot-password-container .auth-data { background-color: transparent; }
.forgot-password-container .forgot-password-img { 
    border: 5px solid #dcc8f28d; 
    align-self: center;
    width: 15%;
    border-radius: 50%;
}

.forgot-password-form {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 20px;  
}

.forgot-password-form .container-form-data {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}

.return .reset-password {
    background-color: transparent;
    border: 0; 
    cursor: pointer;
    font-size: 14px; 
    font-weight: 600; 
}

/*{ signup, login. resetPassword }*/
.container-form-data { text-align: center; gap: 20px; }
.container-form-data h2 { font-size: 2rem; margin-bottom: 10px; } 

.return { 
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.return a { 
    cursor: pointer;
    color: #5633d1; 
    font-weight: bold;
    text-decoration: none;
}

/*{ common > account }*/
.card { 
    width: 100%;
    height: 200px;
    padding: 10px 50px; 
    margin: 30px 0; 
    border-radius: 30px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff; 
}

.card.nomina { background-color: #ff6f61; }
.card.credito { background-color: #f2a900; }
.card.ahorro { background-color: #2d1a75 ; }
.card.departamental { background-color: #9c27b0; }
.card.efectivo { background-color: #24c175; }
.card.vales { background-color: #ff4081; }
.card.wallet { background-color: #ff9100;}

.item-card {
    display: fleX; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-card .db-icon { font-size: 1.8rem; }
.item-card .type-card { font-size: 1.2rem; }
.number-card { 
    font-size: 1.5rem;
}

/*{ dashboard account > header }*/
.dashboard {
    background-image: linear-gradient(to right, #5633d1 , #ceb8fa);
    color: #ffffff;
    height: 76px;
    width: 100vw;
    padding: 0 40px; 
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer; 
}

.dashboard .enterprise { 
    width: auto;
}   

.dashboard .company { 
    font-size: 1.5rem;
    color: #ffffff; 
    font-style: normal;
    font-weight: 500; 
}

.dashboard-menu-items, .tools-user {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    gap: 30px; 
}

.dashboard .items { 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-size: 1rem;
}

.dashboard .items:hover {
    background-color: #ccbdf7;
    border-radius: 10px; 
} 

.dashboard .tools-user .dashboard-menu-items, .dashboard .tools-user {
    gap: 0;
}

.dashboard .tools-user .items {
    width: 30px;
}

.dashboard .tools-user .items:hover { 
    background-color: transparent; 
}

.dashboard .tools-user .items .db-icon {
    margin: 0; 
}

.dashboard .items .db-icon {
    margin-right: 5px;
    font-size: 1.3rem;
}

.dashboard-user {
    display: flex; 
    align-items: center;
    gap: 5px;
    margin-left: 50px;
}

.dashboard-user .db-icon.user {
    font-size: 2rem;
}

/*{ dashboard account > main }*/
.dashboard-main {
    width: 100vw;
    height: auto;
    display: flex; 
    flex-direction: row;
}
.dashboard-main .container-main.tools { flex: 70%;}
.container-main.cards { 
    border-left: 1px solid #ceb8fa;
    padding: 20px;
    width: 400px;
    height: calc(100vh - 76px);
    position: relative; 
}

.all-cards {
    display: flex; 
    justify-content: space-between;
    padding: 10px 20px; 
}

.navigation-btn .db-icon { 
    cursor: pointer; 
    font-size: 2rem;
    color: #adacac; 
} 

.all-cards .count-cards {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.all-cards .total-card { 
    background-color: rgba(204, 189, 247, 0.5);
    color: #5633d1; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card-container {
    position: relative;
    height: 260px; 
    width: 100%; 
    overflow: hidden; 
}

.card-wrapper {
    position: absolute;
    left: 4%;
    transition: transform 0.5s ease-in-out; 
}

.card-wrapper.visible .card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.card-wrapper.visible {
    transform: translateY(0); 
    z-index: 2;
}

.card-wrapper.hidden {
    transform: translateY(-10%);
    z-index: 1; 
}

.new-card-btn {
    margin: 10px 0; 
}

.new-card {
    border: 0; 
    color: #24c175; 
    font-weight: bold;
}

/*{ register {form > account ]}*/
.register-container {
    padding: 20px; 
    width: 100vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.list .register { flex: 1; }
.register {
    
}
/*{ Dark Mode }*/ q
body.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff; 
}

/* dark mode menu && submenu */
body.dark-mode .navbar, body.dark-mode .submenu {
    background-color: #1f1f1f;
    color: #ffffff;
}

body.dark-mode .global-button.navbar-icon {
    color: #ffffff; 
}

body.dark-mode .submenu.expanded .container-submenu .item.toggle .navbar-icon:hover, 
body.dark-mode .container-submenu .item.toggle .navbar-icon.toggle:hover {
    color: #ffffff; 
}
/*icons-only*/
body.dark-mode .global-button.navbar-icon .icon {
    color: #ffffff; 
}

/* {more tools} */
body.dark-mode .img-container {
    background-color: #ffffff;
}

body.dark-mode .search-input { 
    background-color: #3f3f3f;
}

body.dark-mode .search-input::placeholder {
    color: #ffffffb1; 
}

/* dark mode change password */
body.dark-mode .change-password-container.change .change-password-form {
    background-color: #1f1f1f; 
    color: #ffffff; 
}

body.dark-mode .change-password-container.change .change-password-form .change-password.sucess {
    background-color: rgba(86, 51, 209, 0.7);
}

body.dark-mode .global-button.change-password-btn {
    background-color: #ffffff;
}

/*{ more tools }*/
body.dark-mode .global-input, body.dark-mode .password-toggle-input, body.dark-mode .global-button { border: 1px solid #ff5f81; }


/*{ Signuo, login }*/
body.dark-mode .auth-img { background-color: #ffffff; }
body.dark-mode .return-btn { 
    color: #ffffff; 
    bordeR: 0; 
}

body.dark-mode .authenticate-btn { background-color: #ff5f81; }
body.dark-mode .return a { color: #ff5f81; }

/*{ signup  }*/
body.dark-mode .social-media-btn { background-color: #ff5f81; }

/*{ login }*/
body.dark-mode .forgot-password a { color: #ff5f81; }

/*{ forgot password }*/
body.dark-mode .reset-password { 
    color: #ffffff; 
    border: 0;
}

/* {nabvar} */
body.dark-mode .navbar .navbar-icon, body.dark-mode .submenu .navbar-icon { border: 0; }
body.dark-mode .navbar .navbar-icon:hover, body.dark-mode .submenu .navbar-icon:hover {
    background-color: #ff5f81;
}
body.dark-mode .navbar .navbar-icon.menu:hover, body.dark-mode .submenu .navbar-icon.menu:hover { background-color: transparent; }
body.dark-mode .navbar.icons-only, body.dark-mode .submenu.icons-only {
    border-right: 1px solid #ff5f81;
    border-top: 1px solid #ff5f81;
}


/*{ dashboard account > header #9899e5 }*/
body.dark-mode .dashboard {
    background-image: linear-gradient(to right, #252736, #252736)
}

body.dark-mode .dashboard .items:hover {
    background-color: #ff5f81;
}

body.dark-mode .dashboard .tools-user .items:hover { 
    background-color: transparent; 
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .global-button.social-media-btn {
        width: 5vw;   /* Ancho mayor en pantallas pequeñas */
        height: 5vw;  /* Altura mayor en pantallas pequeñas */
        font-size: 18px;  /* Reducir el tamaño de fuente */
    }
}

/* Media query para pantallas extra pequeñas */
@media (max-width: 480px) {
    .global-button.social-media-btn {
        width: 20vw;  /* Aumentar tamaño del botón en pantallas muy pequeñas */
        height: 20vw;
        font-size: 16px;  /* Reducir aún más el tamaño de fuente */
    }
}