/* Contenedor principal del carrusel */
.card-container {
    position: relative;
    height: 260px; 
    width: 100%; 
    overflow: hidden; 
}

.card-wrapper {
    position: absolute;
    left: 4%;
    transition: transform 0.5s ease-in-out; 
}

.card-wrapper.visible .card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.card-wrapper.visible {
    transform: translateY(0); 
    z-index: 2;
}

.card-wrapper.hidden {
    transform: translateY(-10%);
    z-index: 1; 
}